.Navbar {
  margin-top: 50px;
}

.navbar-content {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}

.navbar-content .NavBarLogo {
  display: inline-block;
}

.navbar-links {
  display: inline-block;
  padding-right: 100px;
}

.navbar-links {
  vertical-align: top;
  padding-right: 0;
}
.navbar-link {
  padding: 0;
  margin-right: 100px;
  font-size: 22px;
  font-weight: normal;
  color: #736b6b;
}

.navbar-link:after {
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  background: #ffbc03;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}
.navbar-link:hover:after {
  width: 100%;
  left: 0;
}
@media screen and (max-height: 300px) {
  ul {
    margin-top: 40px;
  }
}
#ourteam {
  margin-right: 0;
}
