.Navbar {
  margin-top: 50px;
  text-align: center;
}

.navbar-content {
  display: inline-block;
  width: 100%;
}

.navbar-logo,
.navbar-links {
  display: inline-block;
  padding-right: 100px;
}

.navbar-logo {
  float: left;
  text-align: left;
}
.navbar-logo h1 {
  margin: 0;
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  color: #026896;
}
.navbar-logo h2 {
  font-size: 18px;
  font-family: "Open Sans", sans-serif;
  font-weight: lighter;
  color: #736b6b;
}

.navbar-links {
  vertical-align: top;
  padding-right: 0;
}
.navbar-link {
  margin-right: 100px;
  font-size: 22px;
  font-weight: normal;
  color: #736b6b;
}

.navbar-link:after {
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  background: #ffbc03;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}
.navbar-link:hover:after {
  width: 100%;
  left: 0;
}
@media screen and (max-height: 300px) {
  ul {
    margin-top: 40px;
  }
}
#ourteam {
  margin-right: 0;
}
